<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
	form{
		text-align: center;
		padding: 50px;
        border-block-color: blue;
        background-color: burlywood;
        margin-left: 100px;
    }
	</style>
</head>
<body>
	<h2 style='background:green;color:white;margin-left:330px;margin-right:330px;text-align:center;padding:10px'>Login Form</h2>
<form>
	<label>Username</label>
	<input type="text" name=""><br></br>
	<label>Password</label>
	<input type="Password" name=""><br></br>
	<button>Login</button>
</form>

</body>
</html>